<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Photolocate</title>
    <link rel="stylesheet" href="web/css/materialize.min.css">
    <link rel="stylesheet" href="web/css/css.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css"/>
</head>

<header>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center">Photolocate</a>
        </div>
    </nav>
</header>

<body ng-app="photolocate">

<div class="container">
    <div class="row center">

        <div ng-controller='GamesController' id="games">

            <!--affichage menu demarrer-->
            <div ng-controller='SeriesController' id="series" class="serie">
                <serie/>
            </div>

            <!--affichage carte + jeu-->
            <div ng-controller="MapController" id="maps" ng-click="update()">
                <div id="map" class="right"></div>
                <game/>
            </div>

            <!--affichage menu de fin-->
            <div id="endGame" ng-include="'web/template/endGame.html'">
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
    <script src='web/lib/jquery-2.1.4.min.js'></script>
    <script src='web/lib/angular.min.js'></script>
    <script src='web/lib/materialize.min.js'></script>
    <script src="web/app/app.js"></script>
    <script src="web/app/serie/serie_controller.js"></script>
    <script src="web/app/serie/serie.js"></script>
    <script src="web/app/serie/serie_directive.js"></script>
    <script src="web/app/game/game_controller.js"></script>
    <script src="web/app/map/map_controller.js"></script>
    <script src="web/app/map/map.js"></script>
    <script src="web/app/game/game.js"></script>
    <script src="web/app/game/game_directive.js"></script>
    <script src="web/app/serie/current_serie.js"></script>
    <script src="web/app/game/count.js"></script>
</div>
</body>
</html>