<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Page d'administration</title>
    <link rel="stylesheet" href="web/css/materialize.min.css">
    <link rel="stylesheet" href="web/css/css.css">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<header>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center">Photolocate</a>
        </div>
    </nav>
</header>

<body class="grey lighten-4">

<h2 class="center">Pannel d'administration</h2>

<!--Conteneur général-->
<div class="container">

    <!--Onglets-->
    <div class="row card-panel">
        <ul class="tabs">
            <li class="tab col s6"><a href="#photo">Photo</a></li>
            <li class="tab col s6"><a href="#serie">Série</a></li>
        </ul>

        <div id="failed" class="card-panel red">Une erreur s'est produite. Veuillez rééssayer.</div>
        <div id="success" class="card-panel green">Enregistré !</div>

        <!--Premier onglet : photo-->
        <div id="photo">

            <!--Formulaire-->
            <form method="post" class="col s12 m12 l6" enctype="multipart/form-data" id="pictureForm">
                <input type="hidden" name="photoForm">

                <div class="row">
                    <div class="input-field col s12 m12 l12">
                        <!--Select-->
                        <select class="series" name="series" form="pictureForm">
                            <option value="" disabled selected>Choix de la série</option>
                            {% for serie in series %}
                            <option value="{{ serie.id }}">{{ serie.ville }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <!--Description de l'image-->
                <div class="row">
                    <div class="input-field col s12 m12 l12">
                        <i class="material-icons prefix">description</i>
                        <input id="desc" type="text" name="description" pattern="[A-Za-z]*" required>
                        <label for="desc">Description</label>
                    </div>
                </div>

                <!--Input pour l'image-->
                <div class="row">
                    <div class="file-field input-field col s12 m12 l12">
                        <div class="btn">
                            <span>Photo</span>
                            <input name="picture" type="file" value="">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" required>
                        </div>
                    </div>
                </div>

                <!--Coordonnées-->
                <div class="row">
                    <!--Latitude-->
                    <div class="input-field col s12 m12 l12">
                        <i class="material-icons prefix">info_outline</i>
                        <input id="lat" type="text" name="lat" readonly>
                        <label for="lat">Latitude</label>
                    </div>

                    <!--Longitude-->
                    <div class="input-field col s12 m12 l12">
                        <i class="material-icons prefix">info_outline</i>
                        <input id="lon" type="text" name="lon" readonly>
                        <label for="lon">Longitude</label>
                    </div>
                </div>

                <!--Bouton d'envoi-->
                <div class="row">
                    <div class="input-field col s12 m12 l12">
                        <button id="test" type="submit" class="btn waves-effect waves-light" form="pictureForm">
                            Enregistrer
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <!--Second onglet : Ajout d'une série-->
        <div id="serie">

            <!--Formulaire-->
            <form class="col s12 m12 l6" method="POST" enctype="multipart/form-data" id="serieForm">
                <input type="hidden" name="serieForm">

                <div class="row">

                    <!--Ville-->
                    <div class="input-field col s12 m12 l12">
                        <i class="material-icons prefix">my_location</i>
                        <input id="ville" type="text" name="city" pattern="[A-Za-z]*" readonly>
                        <label for="ville">Ville</label>
                    </div>
                </div>

                <div class="row">

                    <!--Distance entre les points-->
                    <div class="input-field col s12 m12 l12">
                        <i class="material-icons prefix">import_export</i>
                        <input id="dist" type="number" name="distance" required>
                        <label for="dist">Distance entre 2 points</label>
                    </div>
                </div>

                <div class="row">
                    <!--Latitude-->
                    <div class="input-field col s12 m12 l12">
                        <i class="material-icons prefix">info_outline</i>
                        <input id="latitude" type="text" name="latitude" class="validate" readonly>
                        <label for="latitude">Latitude</label>
                    </div>


                    <!--Longitude-->
                    <div class="input-field col s12 m12 l12">
                        <i class="material-icons prefix">info_outline</i>
                        <input id="longitude" type="text" name="longitude" class="validate" readonly>
                        <label for="longitude">Longitude</label>
                    </div>

                    <!--Zoom-->
                    <div class="input-field col s12 m12 l12">
                        <i class="material-icons prefix">search</i>
                        <input id="zoom" type="number" name="zoom" readonly>
                        <label for="zoom">Zoom</label>
                    </div>
                </div>

                <!--Bouton d'envoi-->
                <div class="row">
                    <div class="input-field col s12 m12 l12">
                        <button class="btn waves-effect waves-light" type="submit" form="serieForm">
                            Enregistrer
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>

            </form>
        </div>

        <!--Carte-->
        <div class="input-field col s12 m12 l6">
            <div id="map"></div>
        </div>

        <div id="rowSearch">
            <div class="input-field col s12 m12 l6">
                <div class="row">
                    <div class="col s12 m12 l6">
                        <!--Recherche de ville-->
                        <i class="material-icons prefix">location_on</i>
                        <input id="addr" type="text" name="addr">
                        <label for="addr">Aller à...</label>
                    </div>
                    <!--Bouton de recherche-->
                    <div class="col s12 m12 l6">
                        <button id="search" class="col s12 m12 l8 btn waves-effect waves-light" type="submit">
                            Recherche
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Chargement des scripts-->
<script src='web/lib/jquery-2.1.4.min.js'></script>
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
<script src="web/lib/materialize.min.js"></script>
<script src="web/app/app.js"></script>
</body>
</html>