<p>Félicitation vous avez terminé avec un score de {{ score }} !</p>

<!--Permet de gérer l'affichage de l'écran de fin de partie en récupérant chaque photo
associée à son score et au temps-->
<ul>
    <li ng-repeat="game in historique" value="{{game}}">{{ game[0].desc }} : Vous avez fait {{game[1]}} point(s) en {{game[2]}} secondes.</li>
</ul>

<form action="">
    <button class="btn waves-effect waves-light" type="submit">Rejouer !</button>
</form>