<!--Affiche les images une à une ainsi que le temps et les photos restantes-->
<div>
    <img ng-src="{{photos[0].url}}" width="375px" height="300px" >
    <p>{{photos[0].desc}}</p>
    <p>Score : {{ score }}</p>
    <button id="buttonNext" class="waves-effect waves-light btn" ng-click="next()" disabled>Suivant
        <i class="material-icons right">send</i></button>

    <p>Temps restant : {{ counter }}</p>

    <p>Photo {{photoRestant}}/{{photoTotal}}</p>
</div>