<!--Affiche l'écran de début de partie avec choix de la dificulté, série et son pseudo-->

<div class="row">
    <div class="input-field col s6">
        <input ng-model="pseudo" id="last_name" type="text" class="validate">
        <label for="last_name">Pseudonyme</label>
    </div>
    <div class="input-field col s6">
        <select ng-model="chooseDiffilculty">
            <option value="1">Facile (5 photos)</option>
            <option value="2">Normal (10 photos)</option>
            <option value="3">Difficile (15 photos)</option>
        </select>
    </div>
    <div class="input-field col s12">
        <select ng-model="nameSerie">
            <option ></option>
            <option ng-repeat="serie in series" value="{{ serie }}">
                {{serie.name}}
            </option>
        </select>
    </div>
    <div class="input-field col s12">
        <button ng-click="showSerie(pseudo, nameSerie, chooseDiffilculty); showGame(pseudo, nameSerie)"
                class="btn waves-effect waves-light" name="game">
            Jouer !
            <i class="material-icons right">send</i>
        </button>
    </div>
</div>