.nav-wrapper, .btn, .tabs .indicator{
    background-color: #546e7a;
}

.tabs .tab a{
    color : #546e7a;
}

.btn:hover
{
    background-color: #7396a3;
}

/* label color */
.input-field label {
    color: grey;
}
/* label focus color */
.input-field input[type]:focus + label {
    font-size: 0.9em;
    color: grey;
}
/* label underline focus color */
.input-field input[type]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #000;
}

#map{
    width: 100%;
    height: 30em;
}

#failed, #success{
    display: none;
}