#map {
    width: 70%;
    height: 50em;
    cursor: pointer;
}

select {
    display: inline-block;
}

.nav-wrapper, .btn{
    background-color: #546e7a;
}

.btn:hover
{
    background-color: #7396a3;
}

#endGame {
    display: none;
}